<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>

    .body-email{

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 0.8rem;
     background: rgb(2,0,36);
     
     

    }
    .message-to-user-email{
      font-size: 20px;
    }
    
    .main-email{
     width:18rem;
     height: 18rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 10px 10px 10px 10px;
     background: rgb(128,128,128);
     

    }
    .text-content-main-email{
     word-wrap: break-word;
     font-size: 0.75rem;
     font-weight: 700;
    }
    .image-container{
     height: 14rem;
     width: 12rem;
     background-size: cover;
      
    }

    </style>
</head>
<body class="body-email">
    <div class="header-email">
    
    <h1 class="message-to-user-email">Olá, o projeto Ágora afirma que:</h1>
    </div>
    
    <div class="main-email">
    
     <p class="text-content-main-email">O Sir Cauã Silva de Almeida quer passar seus momentos mais felizes de sua vida com você!!
    
    </p>
    
    <div class="image-container">
      
    </div>
    </div>
    
   


</body>
</html>